<!-- Gallery Page Section  -->

<!-- Header of section -->
<div class="container-full header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Galeria</h2>
                <h4 class="section-subheading text-muted">fotografia pracowni</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-full">    
  <!-- Content of section -->
  <!-- Carousel Gallery Slideshow -->
  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner" style="height:100%; display:none">
      <div class="item active">
        <img src="./public/img/background/bg1.png"/>
        <div class="container">
          <div class="carousel-caption">
            <h1>Bootstrap 3 Carousel</h1>
          </p></div>
        </div>
      </div>

      <div class="item">
        <img src="./public/img/background/bg2.png">
        <div class="container">
          <div class="carousel-caption">
            <h1>We empower visionaries to lead meaningful brands.</h1>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="./public/img/background/bg3.png">
        <div class="container">
          <div class="carousel-caption">
            <h1>We empower visionaries to lead meaningful brands.</h1>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="./public/img/background/bg4.png">
        <div class="container">
          <div class="carousel-caption">
            <h1>We empower visionaries to lead meaningful brands.</h1>
          </div>
        </div>
      </div>


      <div class="item">
        <img src="./public/img/background/bg5.png">
        <div class="container">
          <div class="carousel-caption">
            <h1>We empower visionaries to lead meaningful brands.</h1>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="./public/img/background/bg6.png">
        <div class="container">
          <div class="carousel-caption">
            <h1>We empower visionaries to lead meaningful brands.</h1>
          </div>
        </div>
      </div>

      <div class="item">
        <img src="./public/img/background/bg7.png">
        <div class="container">
          <div class="carousel-caption">
            <h1>We empower visionaries to lead meaningful brands.</h1>
          </div>
        </div>
      </div>

    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="icon-next"></span>
    </a>  
  </div>
</div>