<!-- Home Page Section -->
    
<!-- Header of section -->
<div class="container-full header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Featured Clients & Work</h2>
                <h4 class="section-subheading text-muted">Know more about me</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-full bg-light-trans">    
  <!-- Content of section -->
    <div class="container" style="min-height:300px;">
        <div class="row">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2>
                        <span>I am creative freelancer devoted to <span class="hover-active">purposeful ventures</span>. 
                            We are led by our desire to produce <span class="  hover-active">great work</span> and our 
                            <span class="hover-active">love for life</span>, <span class="hover-active">people</span>, and 
                            <span class="hover-active">possibilities</span>.</span>
                    </h2>
                </div>

                <div class="col-md-6">
                <h3>We marry form and function.</h3>
                    <p>In 1896, American architect Louis Sullivan coined the phrase “form follows function." Decades later, famous architect Frank Lloyd Wright revised Sullivan’s law. Wright said, “Form follows function – that has been misunderstood. Form and function should be one, joined in a sacred union.” At Whiteboard, the marriage of form and function is the foundation of our work philosophy.</p>
                </div>
                <div class="col-md-6">
                    <h3>Believe</h3>
                    <p>Not just a belief, but the power to believe. It's the power to believe that the world is missing something valuable that only you can give it. Something that makes the world better. Something so valuable that if you don't push past all barriers and bring it to life that the world will fail to progress to its greatest potential, and it will be your fault.</p>
                </div>
                <div class="col-md-6">
                    <h3>We love technology, but not as much as being human.</h3>
                    <p>Our technological society has entered a stage unprecedented in human history. We must remember that technology is not an end-all, it’s a medium. At Whiteboard, we believe in making memories, eye contact, and small groups of thoughtful, committed citizens who pursue real-world action.</p>
                </div>
                <div class="col-md-6">
                    <h3>Work</h3>
                    <p>We work with individuals that create solutions, celebrate entrepreneurship, stand for justice, and believe in the progress of common good.</p>
                </div>
                <div class="col-md-12 text-center">
                    <span class="block-tag">PHP</span>
                    <span class="block-tag">AngularJs</span>
                    <span class="block-tag">NodeJs</span>
                    <span class="block-tag">jQuery</span>
                    <span class="block-tag">HTML5</span>
                    <span class="block-tag">CSS3</span>
                    <span class="block-tag">Postgresql</span>
                </div>
                <div class="col-md-12" style="margin-bottom:30px">
                    <span class="block-tag">Gentoo</span>
                    <span class="block-tag">Linux</span>
                    <span class="block-tag">CISCO</span>
                    <span class="block-tag">Apache</span>
                    <span class="block-tag">Drupal</span>
                    <span class="block-tag">Wordpress</span>
                    <span class="block-tag">ZendFramework</span>
                    <span class="block-tag">GIT</span>
                    <span class="block-tag">Network security</span>
                </div>
            </div>
        </div>
    </div>
</div>
