
<div class="container-full header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

				<div id="tia" class="parallax-section" style="opacity: 1; background-position: 484.5px -68.9px, 487.5px -342.25px, 855.5px 414.15px, 180px -74.9px;"></div>

            </div>
        </div>
    </div>
</div>

<!-- <div style="position:relative;">
<section id="story-freext" style="background:red;">
    <div class="parallax" data-velocity="-.5" data-fit="860"></div>
    <div class="parallax" data-velocity="-.2" data-fit="110"></div>
</section>
</div>
<section></section>


<script>
    $(document).ready(function(){
       $('.parallax').scrolly({bgParallax: true});
    });
</script> -->