
<div id="parallax">
    <div class="fullscreen background parallax" style="background-image:url('public/img/paralax_1.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
    </div>
      
    <div class="not-fullscreen background parallax" style="background-image:url('public/img/paralax_2.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
    </div>
      
    <section class="not-fullscreen">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
    </section>

    <div class="fullscreen background parallax" style="background-image:url('public/img/paralax_3.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100" data-oriz-pos="100%">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
    </div>
      
    <section class="fullscreen">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
    </section>
      
    <div class="fullscreen background parallax" style="background-image:url('public/img/paralax_4.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
        <div class="content-a">
            <div class="content-b">
                <br>Content overflow<br>Content overflow
                <br>Content overflow<br>Content overflow
                <br>Content overflow<br>Content overflow
                <br>Content overflow<br>Content overflow
                <br><br>
            </div>
        </div>
    </div>
      
    <div class="not-fullscreen background parallax" style="background-image:url('public/img/paralax_5.jpg');" data-img-width="1600" data-img-height="1064" data-diff="100">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
    </div>
      
    <section class="fullscreen">
        <div class="content-a">
            <div class="content-b">
                Centered content
            </div>
        </div>
    </section>
</div>
  