
<!-- Portfolio Page Section -->

<!-- Header of section -->
<div class="container-full header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
                <h4 class="section-subheading text-muted">How I got here</h4>
            </div>
        </div>
    </div>
</div>

<div class="container-full bg-light-trans">    
  <!-- Content of section -->
  <div class="container">
    <ul class="timeline">
        <li>
          <div class="timeline-badge primary"><i class="glyphicon glyphicon-briefcase"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Praca I-BS.pl</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Kwiecieć 2009 - obecnie</small></p>
            </div>
            <div class="timeline-body">
              <p>Kierownik zespołu programistów</p>
              <span class="text-info">Kierownik projektu bankowości internetowej dla grupy Banków Spółdzielczych.</span>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge warning"><i class="glyphicon glyphicon-globe"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Inter Pysznica</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Kwiecieć 2005 - 2011</small></p>
            </div>
            <div class="timeline-body">
              <p>Administrator sieci osiedlowej.</p>
              <span class="text-info">Główny administrator, założyciel sieci osiedlowej.</span>
            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge success"><i class="glyphicon glyphicon-retweet"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Freelancer</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Kwiecieć 2007 - 2008</small></p>
            </div>
            <div class="timeline-body">
              <p>Programista PHP</p>
              <span class="text-info">Sklepy internetowe, systemy helpdesk, portale</span>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge info"><i class="glyphicon glyphicon-retweet"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">Wyższa Szkoła Informatyki i Zarządzania "Copernicus"</h4>
              <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> Kwiecieć 2003 - 2007</small></p>
              <span class="text-info"></span>
            </div>
            <div class="timeline-body">
              <p>Młodszy administrator</p>
              <span class="text-info">Rozwiązywanie bieżących problemów natury informatycznej oraz zarządzanie: zasoby Active Directory w Windows 2003 Server MS SQL Server 2000, Symantec Ghost 7.5</span>
            </div>
          </div>
        </li>
    </ul>
  </div>
</div>